@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px dotted black;
    background-color: orange;
}

.categories:hover{
    background-color: gray;
    color: white;
    transition-duration: 700ms;
    transition-property: background-color, color;
}

@media only screen and (max-width:400px) {
    .container{
        flex-direction: column;
    }
}